In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [100]:
vgsales = pd.read_csv("vgsales.csv")
vgsales = pd.DataFrame(vgsales)
print(type(vgsales))

<class 'pandas.core.frame.DataFrame'>

In [101]:
vgsales['Year'] = vgsales['Year'].fillna(-1)
vgsales['Year'] = vgsales['Year'].astype(int)
vgsales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [106]:
vgsales.set_index('Rank', inplace=True, drop=True)
vgsales

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01


Faremos a seguir uma anÃ¡lise de algumas franquias de sucesso (que nÃ£o sÃ£o de iniciativa Nintendo, jÃ¡ que essas foram comparadas anteriormente), buscando analisar se as tendÃªncias gerais de mercado que se evidenciaram no inÃ­cio da anÃ¡lise exploratÃ³ria se mantÃ©m nessas franquias de jogos, ou seja, se a "chave" do sucesso no universo dos *games* Ã© seguir as tendÃªncias de mercado ou buscar inovaÃ§Ãµes.

Iniciaremos estudando a franquia de jogos da LEGO, e para isso vamos modificar a base de dados, criando um subset que contenha apenas jogos com a palavra "LEGO" no nome (o que, no caso da LEGO, ocorre em todos os jogos), que nos auxiliarÃ¡ na construÃ§Ã£o de grÃ¡ficos da franquia de jogos.

Encontramos 148 jogos e trabalharemos com eles para essa anÃ¡lise. A parte do subset exibida a seguir nos apresenta algumas tendÃªncias que podemos buscar comprovar. Por exemplo, entre as opÃ§Ãµes de `Platform` dos jogos, os de PC parecem nÃ£o ter muita aceitaÃ§Ã£o. Vamos realizar uma plotagem para testar essa hipÃ³tese:

In [104]:
lego = vgsales[vgsales.Name.str.contains("LEGO")]
lego

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,,
151,151,LEGO Star Wars: The Complete Saga,Wii,2007,Action,LucasArts,3.66,1.63,0.00,0.53,5.83
213,213,LEGO Star Wars: The Complete Saga,DS,2007,Action,LucasArts,2.89,1.54,0.00,0.46,4.90
325,325,LEGO Indiana Jones: The Original Adventures,X360,2008,Action,Activision,2.40,1.03,0.00,0.36,3.78
365,365,LEGO Star Wars: The Video Game,PS2,2005,Action,Eidos Interactive,1.98,1.14,0.01,0.41,3.53
395,395,LEGO Batman: The Videogame,X360,2008,Action,Warner Bros. Interactive Entertainment,2.03,1.03,0.00,0.32,3.38
...,...,...,...,...,...,...,...,...,...,...,...
14355,14355,LEGO Legends of Chima: Laval's Journey,DS,2013,Adventure,Unknown,0.00,0.03,0.00,0.00,0.03
14887,14887,LEGO Pirates of the Caribbean: The Video Game,PC,2011,Action,Disney Interactive Studios,0.02,0.00,0.00,0.00,0.03
14963,14963,LEGO Harry Potter: Years 1-4,PC,2010,Action,Warner Bros. Interactive Entertainment,0.01,0.01,0.00,0.00,0.02
15748,15748,LEGO Star Wars II: The Original Trilogy,PC,2006,Action,Activision,0.00,0.01,0.00,0.00,0.02
15790,15790,LEGO Star Wars: The Video Game,PC,2005,Action,Eidos Interactive,0.00,0.01,0.00,0.00,0.02